@charset "UTF-8";

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}


.page-wrapper {
	margin: 0 auto;
	width: 1240px;
}

.header {
	padding: 1.5em 24px;
}

.main-nav {
	width: 213px;
	float: left;
}

.main-wrapper {
	width: 1027px;
	margin-left: 213px;
}

.main-content {
	float: left;
	width: 735px;
	padding: 2em 24px;
}

.footer {
	padding: 0.8em 24px;
}


.teaser-box {
	background-color: #fff;
	border: 1px solid #ddd;
}

.teaser-box h2 {
	margin: 0;
	font-size: 20px;
}

.box-inner {
	padding: 1em;
}

h1 {
	margin: 0.5em 0 0 0;
}

.section.teaser-articles {
	display: flex;
}

.teaser-box {
	flex: 1 33.333333333%;
	margin: 0 2.336903603%;
}

.teaser-box:nth-of-type(3n+3) {
	margin-right: 0;
}

.teaser-box p:last-of-type {
	margin-bottom: 0;
}

.teaser-box img {
	width: 100%;
}